<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }} - Zhuowei Zhang's design portfolio</title>
<link rel="stylesheet" href="{{ site.baseurl }}main.css" />
</head>
<body>
<div id="header">
<div id="titlearea"><h1><a href="{{ site.baseurl }}">Zhuowei Zhang's design portfolio</a></h1></div>
<div id="navbar">
    <ul id="navbar-menu">
        <li><a href="{{ site.baseurl }}statement.html">What I believe in</a></li>
        <li><a href="{{ site.baseurl }}process.html">What I do</a></li>
        <li><a href="{{ site.baseurl }}designs/">What I made</a></li>
    </ul>
</div>

</div>
<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7810231-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
